<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#190B28">
    <meta property="og:image" content="/images/previewIcon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tarotCards.css">
    <title>Welcome to My Witchy Journal</title>
</head>

<body>
    <header id="mainHeader">
        <h1>My Witchy Journal</h1>
        <div id="searchAndMore">
            <div id="searchBar">
                <label for="searchInput">search</label>
                <i id="navSearch" class="uil uil-search"></i>
                <input id="searchInput" class="hidden" name="searchInput" type="text" placeholder="Search for a perticular card">
                <button id="searchBtn" class="hidden" >Search</button>
            </div>
            <div id="more">
                <a href="#">
                <i class="uil uil-user-circle"></i>
                </a>
                <a href="/home">
                <i id="home" class="uil uil-home"></i>
                </a>
                <i id="moreI" class="uil uil-bars"></i>
                <div id="navMore">
                    <a href="/TarotCards/deck/?id=2">Tarot Cards</a>
                    {{#if isSignedIn}}
                    <a href="/journal">Journal</a>
                    <a href="/api/users/logout">Logout</a>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/js/navBar.js"></script>
</body>

</html>