
<h1>See all my cards so far!</h1>
<ul id="allCards">
    {{#each allCards}}
    <li>
        <div class="allCardsCard">
            {{#each Images}}
            <img class="randomCard" src="{{src}}" alt="image of card">
            {{/each}}
            <h3>{{cardName}}</h3>
        </div>
    </li>
    {{/each}}
</ul>
<script src="/js/evenOdd.js"></script>