<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tarot Cards | My Witchy Journal</title>
    <style>
        body{
            background-color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(189, 117, 200);
        }
    </style>
</head>
<body>
    <h1>See all my cards!</h1>
</body>
</html>