<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>All Tarot Cards | My Witchy Journal</title>
</head>
<body>
    <header>
        <h1>My Witchy Journal</h1>
        <div>
            <a href="/">Home</a>
            <p>|</p>
            <a href="#">Tarot Cards</a>
            <p>|</p>
            <a href="#">Journal</a>
        </div>
    </header>
    <main>
        <h1>See all my cards so far!</h1>
        <ul id="allCards"></ul>
    </main>
    <script src = "/script/allCards.js"></script>
</body>
</html>