
<h1>See all my cards so far!</h1>
<ul id="allCards">
    {{#each allCards}}
<li>
    <div class="allCardsCard">
    <h3>{{cardName}}</h3>
    {{#each Images}}
    <img id="randomCard" src="{{src}}" alt="image of card">
    {{/each}}
</div>
</li>
{{/each}}
</ul>

<script src="./script/allCards.js"></script>