<h2>Welcome!</h2>
<div id="indexRandom">
    {{#each randomCard.Images}}
    <img id="randomCard" src="{{src}}" alt="image of card">
    {{/each}}
    <div>
        <h3 id="randomCardTitle">{{randomCard.cardName}}</h3>
        <p>Hello, my name is Maya and I'm a big fan of all things witchy! I have been dabbling in tarot card readings
            for a few years now. I decided that I wanted to make my very own deck using Midjourney AI.</p>
        <p>Here is a random card of the ones I've made so far! If you want to see all of them, simply click on the tab
            labeled "Tarot Cards" in the top bar.</p>
    </div>
</div>
