<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to My Witchy Journal</title>
</head>
<body>
    <header>
        <h1>My Witchy Journal</h1>
        <div>
            <a href="#">Home</a>
            <p>|</p>
            <a href="/TarotCards">Tarot Cards</a>
            <p>|</p>
            <a href="#">Journal</a>
        </div>
    </header>
    <main>
    <h2>Welcome!</h2>
    <div id="indexRandom">
        <img id="randomCard" src="#" alt="#">
        <div>
            <h3 id="randomCardTitle">Random Card!</h3>
            <p>Hello, my name is Maya and I'm a big fan of all things witchy! I have been dabbling in tarot card readings for a few years now. I decided that I wanted to make my very own deck using Midjourney AI.</p>
            <p>Here is a random card of the ones I've made so far! If you want to see all of them, simply click on the tab labeled "Tarot Cards" in the top bar. Or click on the card to be brought to it's descritpion.</p>
        </div>
    </div>
    </main>
    <script src = "/script/index.js"></script>
</body>
</html>