<div class="loginBody">
  <div id="loginCard">
    <h1 class="loginHeader">My Witchy Journal</h1>

    <form class="loginForm" id="loginForm">
      <input
        type="text"
        id="login"
        placeholder="email or username"
      />
      <input
        type="password"
        id="loginPassword"
        placeholder="password"
      />
      <button class="loginBttn">Login</button>
    </form>

    <div id="signUpCard">
        <p>No acount yet? Come join us!</p>
      <button id="signUpBttn">Create Account</button>
    </div>
  </div>
</div>
{{!-- 
<div class="modal">
  <div id="journalModal">
    <p class="modal-content"></p>
  </div>
</div> --}}

<script src="/js/login.js"></script>