#allCards {
    width: 80%;
    margin: auto;
    list-style: none;
}

#allCards li div{
 display: flex;
 padding: 5px;
}

.odd{
    flex-direction: row-reverse;
}

#allCards h3{
    height: 100%;
    margin: 10px;
}

#allCards img {
    height: 500px;
}

@media screen and (max-width: 700px) {
    #allCards h3{
        font-size: 5vw;
    }
    
    #allCards img {
        width: 60vw;
        height: auto;
    }
}