:root {
    --background: #685762;
    --lightText: #ffffd6;
    --middleText: #EFA9AE;
    --dark: #190B28;
  }
  

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}

header label{
    display: none;
}

button:hover {
    cursor: pointer;
  }

body{
    background-color: var(--background);
    font-family: 'Amatic SC', cursive;
    color: var(--middleText);
}

header{
    display: flex;
    background-color: var(--dark);
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100px;
    opacity: 70%;
    padding: 5px;
    box-shadow: 0px 5px 5px black;
}

header h1{
    font-size: 70px;
}

#searchAndMore{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#navMore{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: var(--dark);
    display: none;
    box-shadow: -10px 0px 10px -7px black;
}

#navMore a {
    margin: 5px 20px;
}

#more{
    height: 100%;
    font-size: 35px;
    display: flex;
    align-items: center;
}

#moreI, #navMore a {
    cursor: pointer;
}

#searchBar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 5px;
}

#searchBar input, #searchBar button {
    margin: 5px;
    border-radius: 5px;
    border: solid 1px var(--middleText);
    padding: 10px;
    font-size: 18px;
    background-color: var(--dark);
    color: #EFA9AE;
}

a{
    text-decoration: none;
    color: var(--middleText);
}

main {
    padding-top: 100px;
    color: var(--middleText);
    text-align: center;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 50px;
}

#indexRandom{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

#indexRandom div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--lightText);
    width: 40%;
    margin-left: 10px;
}

.randomCard{
    height: 500px;
}

main p{
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--dark);
}
#allCards {
    width: 80%;
    margin: auto;
    list-style: none;
}

#allCards li div{
 display: flex;
 padding: 5px;
}

.odd{
    flex-direction: row-reverse;
}

#allCards h3{
    height: 100%;
    margin: 10px;
}

#allCards img {
    height: 500px;
}

#loginCard{
    background-color: var(--dark);
    opacity: 70%;
}

#loginCard h1{
    font-size: 60px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: space-evenly;
}

#loginForm input {
    font-size: 20px;
}

#loginCard button{
    width: 170px;
    font-size: 20px;
    padding: 0.5%;
    margin: 1%;
    color: var(--dark);
}

@media screen and (max-width: 923px) {
    header {
        height: 15vw;
        align-items: flex-start;
    }
    header h1{
        font-size: 10vw;
    }
    #searchBar i, #more i {
        font-size: 5vw;
        cursor: pointer;
    }
    #searchBar input, #searchBar button{
        position: absolute;
        font-size: 5vw;
        padding: 5px;
        top: 15vw;
    }
    #searchBar input{
        left: 10px;
    }
    #searchBar button{
        right: 10px;
    }
    .hidden {
        display: none;
    }
    .openSearchBar{
        height: 30vw;
    }
    #searchAndMore{
        margin-top: 10px;
    }
    #more, #searchBar, #more a{
        display: flex;
        align-items:flex-start;
        padding-top: 0;
        justify-content: center;
    }
    #navMore{
        top: 15vw; 
        height: 100vh;
    }
    #indexRandom{
        flex-direction: column;
        align-items: center;
    }
    .randomCard{
        width: 50%;
        height: auto;
    }
    #indexRandom div{
        width: 80%;
        margin-top: 5px;
    }
    #allCards h3{
        font-size: 5vw;
    }
    
    #allCards img {
        width: 35vw;
        height: auto;
    }
}