:root {
    --background: #685762;
    --lightText: #D6EFFF;
    --middleText: #EFA9AE;
    --dark: #190B28;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: 'Amatic SC', cursive;
    color: var(--middleText);
}

header{
    display: flex;
    background-color: var(--dark);
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100px;
    opacity: 70%;
}

header h1{
    font-size: 70px;
    padding: 5px;
    width: 65%;
}

header div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 35%;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: var(--middleText);
}

main {
    padding-top: 100px;
    color: var(--middleText);
    text-align: center;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 50px;
}

#indexRandom{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

#indexRandom div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--lightText);
    width: 40%;
    margin-left: 10px;
}

#randomCard{
    height: 500px;
}

main p{
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--dark);
}
#allCards {
    width: 80%;
    margin: auto;
    list-style: none;
}

#allCards li div{
 display: flex;
 padding: 5px;
}

.odd{
    flex-direction: row-reverse;
}

#allCards h3{
    height: 100%;
    margin: 10px;
}

#allCards img {
    height: 500px;
}

#loginCard{
    background-color: var(--dark);
}

#loginCard h1{
    font-size: 60px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: space-evenly;
}

#loginForm input {
    font-size: 20px;
}

#loginCard button{
    width: 170px;
    font-size: 20px;
    padding: 0.5%;
    margin: 1%;
    color: var(--dark);
}

@media screen and (max-width: 700px) {
    header{
        flex-direction: column;
        text-align: center;
        height: 32vw;
    }

    header h1, header div{
        width: 100%;
    }

    header h1{
        font-size: 15vw;
    }

    header div{
        font-size: 6vw;
    }

    main{
        padding-top: 32vw;
    }

    #indexRandom{
        flex-direction: column;
        align-items: center;
    }
    #randomCard{
        width: 50%;
        height: auto;
    }
    #indexRandom div{
        width: 80%;
        margin-top: 5px;
    }
    #allCards h3{
        font-size: 5vw;
    }
    
    #allCards img {
        width: 60vw;
        height: auto;
    }
}